/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: top;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.main_elem{

}
.search-submit{
height: 26px;
width: 55px;
background: url(../img/buttonSearch.png) no-repeat;
border: none;
cursor: pointer;
padding: 10px;
position: relative;
left: -60px;
top: 1px;
}
#search-form{
padding: 13px 0 0 17px;
width: 520px;
position: relative;
display:inline-block;
}
.clearfix:before{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
  content:"";
  display: table;
}
#search-input{
color: #777;
    width: 423px;
    border: 1px solid #abadb3;
    padding: 2px;
    font-size: 14px;
    line-height: 20px;
    height: 22px;
    border-radius: 3px;
    outline: 0;
    vertical-align: top;
  }
h1 {
    font-size: 24px;
    font-weight: 400;
    color:#777;
    margin:0;
  }
h1 strong{
  font-weight: 400;
  color:#000;
}

.city{
      width: 515px;
      padding: 24px 0 0 5px;
      min-height: 51px;
      height: auto;
      display:inline-block;
}
.currentRegion{
  color: #777;
font-size: 14px;
padding: 3px 0 10px;
}

#topMenu .menu-item{
display: inline-block;
height: 20px;
padding-top: 3px;
text-align: center;
width: 59px;
}

.otherCity{
  display: block;
  margin-top: 3px;
}

#topMenu{
margin-left: 4px;
padding-top: 27px;
display:inline-block;
}

#topMenu .tMenu{
  background:url(../img/spr4.png) no-repeat;
  color: #fff;

  display: inline-block;
height: 20px;
padding-top: 3px;
text-align: center;
width: 59px;
}
.tab{
  border:1px solid grey;
  text-align: center;
  width: 95px;
  float: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabs{
  display:inline-block;;
}
.min, .max{
  display:inline-block;
  width:40px;
}

#info_table{
   border-collapse: collapse;
  empty-cells: show;
  display: inline-block;
  width: 485px;
/*.  border: 1px solid silver;*/
}

#info_table td{
  height:33px;
  border: none;
  min-width: 40px;
  text-align: center;
  border-left: none;
  border-bottom: none;
}

#info_table th{
  height:33px;

  min-width: 40px;
  text-align: center;
}
.tem_sens{
  color:grey;
  font-size: 12px;
}
.grey_time{
  color:grey;
  font-size: 11px;
}
.temperature{
  font-weight: bold;
  font-size: 18px;
}
#left_side{
  display: inline-block;
  vertical-align: top;
}
.main_info{
display: inline-block;
border: 1px solid silver;
width: 677px;
top: -7px;
position: relative;
}
.therm{
  background: url(../img/spr4.png) 0 -235px no-repeat;
height: 95px;
left: 21px;
top: 100px;
width: 34px;
}

.therm, .therm span{
  position:absolute;

}
#top-description
{
  text-align: left;
  width: 480px;
  margin-left: auto;
}
.infoHistoryval{
  background: url(../img/spr4.png) -44px -235px no-repeat;
color: #565656;
font-size: 11px;
line-height: 16px;
margin: 5px 0 0 15px;
padding: 0 0 0 18px;
height: 31px;
text-transform: uppercase;
    display: inline-block;
}
.rSide{
  width: 479px;
      text-align: left;
      padding-top: 20px;
      float: right;
      padding-left: 35px;
}



.tab-content{

}
